<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>Text to Speech!</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="center">
      <button class="button-51" id="speak-button" onclick="sayIt('{{my_poem}}')">Hear this poem!</button>
    </div>
    <script src="{{url_for('static', filename = 'tts.js')}}"></script>
    <p id="poem">{{line_1}}</p>
    <p id="poem">{{line_2}}</p>
    <p id="poem">{{line_3}}</p>
    <p id="poem">{{line_4}}</p>
    <p id="poem">{{line_5}}</p>

    <h1 class="score-container" id="score">Poem Score: {{poem_score}}</h1>
  </body>
</html>